@* @model WeatherModel;

@{
ViewData["Title"] = "Home Page";
}

<div class="text-center">

<div class="text-center">
<h1 class="display-4"> Weather Application</h1>

<form asp-controller="Home" asp-action="GetWeatherDetails" method="post">

<div>
<input type="text" name="location" required />
<input type="submit" value="Submit" />
</div>
</form>
<br />
<br />

@if (Model != null)
{
<h5> City: @Model.location.name </h5> <br />
<h5> Country : @Model.location.region @Model.location.country</h5>
<h5> Temperature: @Model.current.temp_f</h5> <br />
<h5> Weather Description : @Model.current.condition[0].ToString()</h5> <br />

}
else if (ViewData.ContainsKey("IsFormSubmitted") && (bool)ViewData["IsFormSubmitted"])
{
<p> @ViewData ["Message"]</p>
}

</div>

</div> *@

@model Weather_app.Models.WeatherModel;

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Weather Application</h1>

    <form asp-controller="Home" asp-action="GetWeatherDetails" method="post">
        <div>
            <input type="text" name="location" required />
            <input type="submit" value="Submit" />
        </div>
    </form>

    <br />
    <br />

    @if (Model != null)
    {
        <h5>City: @Model.Location.Name</h5> <br />
        <h5>Country: @Model.Location.Region @Model.Location.Country</h5>
        <h5>Temperature: @Model.Current.Temp_f</h5> <br />
        <h5>Weather Description: @Model.Current.Condition.Text</h5> <br />
    }
    else if (ViewData.ContainsKey("IsFormSubmitted") && (bool)ViewData["IsFormSubmitted"])
    {
        <p>@ViewData["Message"]</p>
    }
</div>